################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/Properties
/.vs/Bossjam
/bin/Debug/net45
